body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(49, 49, 49);
  color:rgb(209, 209, 209)
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(49, 49, 49); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/*#region NavBar*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(29, 29, 29);
  position: fixed;
  top: 0;
  width: 100%;
}
nav li {
  float: left;
  width: 150px;
}
nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav li a:hover:not(.active) {
  background-color: rgb(80, 80, 80)
}
.active {
  background-color: #2CB0FC;
}
/*#endregion */
div.container {
  margin-top: 30px;
  padding: 20px;
}
table.projects {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  background-color: rgb(49, 49, 49);
}
table.projects tr {
  height: 100px; 
  background-color: rgb(60, 60, 60); 
}